.buttons{
    width: 80px;
    height: 45px;
    margin-bottom: 5px;
}
.alphabets {
    width: 80vw;
}
.numbers {
    width: 80vw;
    padding-top: 30px;
}
.symbols{
    width: 80vw;
    padding-top: 30px;
}
.tablinks{
    border: solid black 1px;
    width: 270px;
    height: 50px;
}
.activeTab{
    border: solid black 1px;
    width: 270px;
    height: 50px;
}
.hideContents{
    display: none;
}
.displayContents{
    display: block;
}
.hideContentsSubTab{
    display: none;
}
.displayContentsSubTab{
    display: block;
}
.subTab {
}
.activeSubTab {
    background-color: aqua;
}
.tabs {
    margin-bottom: 15px;
}
.keyboardTabs {
    margin-bottom: 15px;
}
#mou {
    margin-bottom: 10px;
}
.extentedButton{
    width: 130px;
    height: 45px;
    margin-bottom: 5px;
}
body {
    overflow-x: hidden;
    top: 0;
}
.keyboardTabs button {
    width: 100px;
    height: 30px;
}
h1 {
    display: block;
    width: 100%;
    transform: translateX(175px);
}
#mou {
    width: 100%;
}
.instructions{
    display: block;
    width: 100%;
    text-align: center;
}
#text {
    resize: none;
}
