.buttons{
    width: 60px;
    height: 30px;
    margin-bottom: 5px;
}
.alphabets {
    width: 80vw;
}
.numbers {
    width: 80vw;
    padding-top: 30px;
}
.symbols{
    width: 80vw;
    padding-top: 30px;
}
.tablinks{
    border: solid black 1px;
    width: 200px;
    height: 50px;
}
.activeTab{
    border: solid black 1px;
    width: 200px;
    height: 50px;
}
.hideContents{
    display: none;
}
.displayContents{
    display: block;
}
.subTab {
}
.activeSubTab {
    background-color: aqua;
}
